@using MahdiShop.DataLayer.Models.Product;
@model MahdiShop.Views.ViewModule.AddProductViewModel

@{
    ViewData["Title"] = "AddProduct";
}
<br />
<br />
<br />
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-controller="AddProduct" asp-action="GetAddProduct" method="post" enctype="multipart/form-data">

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-outline mb-3">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-outline mb-3">
                        <div class="form-group">
                            <label asp-for="Profile" class="control-label">Profile Image</label>
                            <input type="file" class="form-control" asp-for="Profile" placeholder="Profile ...." />
                            <span asp-validation-for="Profile" class="badge badge-danger"></span>
                        </div>

                    </div>

                    <div class="form-outline mb-3">
                        <div class="form-group">
                            <label asp-for="category" class="control-label">Choos category</label>
                        @{
                               <select name="category">
                            @for (int i = 0; i < Model.categorySet.Count; i++)
                            {
                         
                                <option value="@Model.categorySet[i].CategoryId">@Model.categorySet[i].Name</option>
                             
                            }
                                </select>
                            }
                        </div>

                    </div>

                    


                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Add
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
