@using MahdiShop.Views.ViewModule ;
@model ProductFilterViewModel 
<div class="row">
    <form asp-action="Index">
        <div class="form-group">
            <label asp-for="ProductName" class="control-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PriceFrom" class="control-label"></label>
            <input asp-for="PriceFrom" class="form-control" />
            <span asp-validation-for="PriceFrom" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PriceTo" class="control-label"></label>
            <input asp-for="PriceTo" class="form-control" />
            <span asp-validation-for="PriceTo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryName" class="control-label"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    @for(int w = 0 ; w < @Model.productss.Count; w++)
    {
        <p>@Model.productss[w].Name</p>
    }
</div>
