@using MahdiShop.Views.ViewModule
@model ProductFilterViewModel
<div class="row">
    <div class="cli-md-1"></div>
    <div class="col-md-11">
        <form asp-action="Filter">
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceFrom" class="control-label"></label>
                <input asp-for="PriceFrom" class="form-control" />
                <span asp-validation-for="PriceFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceTo" class="control-label"></label>
                <input asp-for="PriceTo" class="form-control" />
                <span asp-validation-for="PriceTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div>
            @for (int w = 0; w < @Model.productss.Count; w++)
            {
                <div style="background-color:dodgerblue">
                    <h6>@Model.productss[w].Name </h6>
                    <p>@Model.productss[w].Description</p>
                    <p>@Model.productss[w].Price</p>
                    <a  href="../Buy/index/@Model.productss[w].ProductId" style="color:brown">buy</a>
                </div>
                <br />
            }
        </div>
    </div>
</div>